{% extends 'base.html' %}
{% block title %}
  OTP Verifaction
{% endblock %}
{% block content %}
  <form method="post" action="{% url 'verify_otp' %}">
    {% csrf_token %}
    <label for="email">Email:</label>
    <input type="email" name="email" required />
    <label for="otp">OTP:</label>
    <input type="text" name="otp" required />
    <button type="submit">Verify OTP</button>
  </form>
  <br />
  <form method="post" action="{% url 'resend_otp' %}">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{ email }}" />
    <button type="submit">Resend OTP</button>
  </form>
{% endblock %}
