{% extends 'base.html' %}
{% block content %}
  {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="POST">
      {% csrf_token %}
      <p>Welcome, {{ user.first_name }} {{ user.last_name }}. Thanks for logging in.</p>
      <button type="submit">Logout</button>
    </form>
  {% else %}
    <form>
      <p>Welcome, new user. Please log in.</p>
      <p>
        <a href="{% url 'login' %}">Login</a> or <a href="{% url 'registration' %}">Registration</a>
      </p>
    </form>
  {% endif %}
{% endblock %}
